/*google-fonts*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display:flex;
    width: 100%;
    flex-direction: column;
    font-family: "Josefin Sans", sans-serif;
    color: #ffffff;
    font-size: 60%;
}

header {
    background: url("../images/pexels-skinny-alien-671805-2318555.jpg");
    padding: 1%;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;

}

.header {
    font-size: large;
    padding-left: 5%;
    padding-top: 20px;
    color: #ffffff;
}

#nav-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#nav-menu>a {
    text-decoration: none;
    font-weight: bold;
    color: #fc8eab;
    
}

main {
    background: url("../images/background-image.jpg") center center/cover;
    filter: grayscale(100%);
    width: 100%;
    min-height: 100vh;
    position: relative;
    flex: 1 0 auto;
    z-index: 1;
}

/*Opaque box*/

.opacity-box {
    background-color: rgba(0, 0, 0, 0.5);
    position: static;
    width: 60%;
    height: 40 rem;
    padding-left: 5%;
    margin-bottom: 10px;
    top: 13 rem;
    z-index: 3;
    justify-content: space-around;

}

main>section {
    margin-top: 10rem;
}

footer {
	background-color: #fc8eac;
	padding: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 5;
}
/*media-query*/

@media screen and (min-width: 992px) {

    main>section {
        margin-top: 12rem;
    }

    .header {
        font-size: x-large;
    }

    .opacity-box {
        font-size: large;
    }
}