/*google-fonts*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display:flex;
    width: 100%;
    flex-direction: column;
    font-family: "Josefin Sans", sans-serif;
}

header {
    background: url("../images/pexels-skinny-alien-671805-2318555.jpg");
    padding: 1%;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;

}

.header {
    font-size: xx-large;
    padding-left: 10%;
    padding-top: 20px;
    color: #ffffff;
}

main {
    
    
}

main {
    background: url("../images/background-image.jpg") center center/cover;
    filter: grayscale(100%);
    width: 100%;
    position: relative;
    flex: 1 0 auto;
    min-height: 100vh;

}

footer {
	background-color: #fc8eac;
	padding: 1%;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
}